.Galeries {
    width: 90vw;
    margin-top: 1rem;
    height: 40%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.BigDivImg,
.GridDivImg {
    width:49% ;
    display: flex;
    align-items: center;
}

.ResponsiveImgs {
    display: none;
}

img {
    border-radius: 20px;
}

.BigDivImg>img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    width: 100%;
}

.GalerieSec {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.doubleImg {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.doubleImg>img {
    object-fit: cover;
}

.Imgs1 {
    width: 33%;
    height: 25rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;

}

.Imgs1 img:first-child {
    height: 65%;
    width: 100%;
    object-fit: cover;
}

.Imgs1 img:last-child {
    height: 35%;
    width: 100%;
    object-fit: cover;
}

.Imgs2 {
    height: 25rem;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.Imgs2 img:first-child {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.Imgs2 img:last-child {
    height: 50%;
    width: 100%;
    object-fit: cover;
}


.Imgs3 {
    height: 25rem;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.Imgs3 img:first-child {
    height: 35%;
    width: 100%;
}

.Imgs3 img:last-child {
    height: 65%;
    width: 100%;
}

@media only screen and (max-width:1200px) {

    .Galeries {
        flex-direction: column;
        row-gap: 12px;
        width: 70%;
    }

    .BigDivImg {
        width: 100%;
    }

    .GridDivImg {
        width: 25rem
    }

}

@media only screen and (max-width:552px) {
    .GridDivImg {
        display: none;
    }

    .BigDivImg>img {
        width: 100%;
        height: 50%;
    }

    .ResponsiveImgs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 5px;
        column-gap: 5px;
    }

    .ResponsiveImgs>img {
        width: 100%;
    }

}